
@media screen and (max-width: 640px) {

    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    /*---------- Font --------------*/

    .sm-text-lg	{
        font-size: 1.125rem;
    }

    .sm-text-base	{
        font-size: 1rem; 
        line-height: 1.6rem; 
    }
    .sm-text-3xl {
        font-size: 1.875rem;
    }
    .sm-text-6xl {
        font-size: 3.75rem;
    }

    /*----- Height And Width -------*/

    .sm-h-28 {
        height: 447px;  
    }

    .sm-w-27 {
        width: 420px;
    }

    .sm-w-13 {
        width: 13rem; /* 208px */
    }

    .sm-w-68 {
        width: 16rem;
    }

    .sm-h-107 {
        height: 26.75rem;
    }

    .sm-h-38 {
        height: 9.5rem;
    }

    .sm-w-55 {
        width: 13.75rem;
    }

    .sm-w-58 {
        width: 16.5rem;
    }

    .sm-h-39 {
        height: 9.875 rem;
    }

    /*-------- Margin -------------*/

    .sm-mt-20 {
        margin-top: 5rem;
    }
 
    .-sm-mt-12 {
        margin-top: -3rem;
    } 
     
    .-sm-mt-40 {
            margin-top: -10rem;
    }

    .-sm-ml-4 {
        margin-left: -1rem;
    }

    .sm-ml-7 {
        margin-left: 2rem;
    }

    .sm-mx-12 {
        margin-left: 3rem;
        margin-right: 2rem;
    }

    .sm-ml-12 {
        margin-left: 3rem;
    }

    .sm-ml-13 {
        margin-left: 3.25rem;   
    }

    .sm-y-8 {
        margin-top: 3.25rem;
        margin-bottom: 2rem;
    }

    /*---------- Padding ----------*/

    .sm-px-13 {
        padding-left: 3.375rem;
        padding-right: 3.375rem;
    }

    /*----------- Flex -------------*/

    .sm-flex {
        display: flex;
    }

    .sm-flex-column {
        flex-direction: column;    
    }

    .sm-justify-center {
        justify-content: center;
    }

    .sm-grid {
        display: grid;
    }
    
    .sm-grid-rows-2 {
        grid-template-rows: repeat(2, minmax(0, 1fr));
    }
    
    /*-----------Display ------------*/

        .sm-non {
            display: none;
        }

   
}

@media screen and (min-width: 768px) {

    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

@media screen and (min-width: 1024px) {

    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

