
@media screen and (max-width: 576px) {

    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow-x: hidden;
    }

    /*---------- Font-family ------------------*/
    
     .sm-font-open {
        font-family: 'open sans', sans-serif;
     }

     /*---------- Background -----------*/

     .sm-bg-slate-700 {
        background: #292d33;
    } 

    /*---------- Font-Size --------------*/

    .sm-text-base {
        font-size: 1rem; 
        line-height: 1.6rem; 
    }

    .sm-text-lg	{
        font-size: 1.125rem;
    }

    .sm-text-2xl {
        font-size: 1.5rem; /* 24px */
        line-height: 2rem;
    }
    
    .sm-text-3xl {
        font-size: 1.875rem;
    }

    .sm-text-6xl {
        font-size: 3.75rem;
    }

    /*----- Height And Width -------*/

    .sm-w-auto {
        width: auto;
    }

    .sm-w {
        width: 75%;
    }

    .sm-w-full {
        width: 100%;
    }

    .sm-h-auto {
        height: auto;
    }
    
    .sm-w-27 {
        width: 420px;
    }
    
    .sm-w-13 {
        width: 13rem; /* 208px */
    }
    
    .sm-w-68 {
        width: 16rem;
    }
    
    .sm-w-55 {
        width: 13.75rem;
    }
    
    .sm-w-58 {
        width: 14.6rem;
    }

    .sm-w-61 {
        width: 15.25rem;
    }
    
    .sm-w-79 {
        width: 19.75rem;
    }

    .sm-w-85 {
        width: 21.25rem;
    }
    
    .sm-w-106 {
        width: 26.5rem;
    }
    
    .sm-w-119 {
        max-width: 29.75rem;
    }
    
    .sm-h-38 {
        height: 9.5rem;
    }
    
    .sm-h-39 {
        height: 9.875rem;
    }
        
    .sm-h-43 {
        height: 10.9rem;
    }

    .sm-h-48 {
        height: 12rem;
    }
    
    .sm-h-58 {
        height: 14.5rem;
    }
    
    .sm-h-60 {
        height: 15rem;
    }

    .sm-h-64 {
        height: 16rem;
    }

    .sm-h-75 {
        height: 18.75rem;
    }

    .sm-h-78 {
        height: 19.5rem;
    }

    .sm-h-94 {
        height: 23.5rem;
    }

    .sm-h-107 {
        height: 26.75rem;
    }    

    .sm-h-28 {
        height: 28rem;  
    }    
    
    .sm-h-132 {
        height: 33rem;
    }
    
    .sm-h-189 {
        height: 47.25rem;
    }

    .sm-h-204 {
        height: 51rem;
    }    

    /*-------- Margin -------------*/

    .sm-m-auto {
        margin-right: auto;
    }

    .sm-m-7 {
        margin: -1rem 1rem ;
    }

    .sm-m-0 {
        margin: 0px;
    }

    .sm-m-8 {
        margin: 0 2rem;
    }

    .sm-m-12 {
        margin: 3rem;
    }
    
    .sm-mt-4 {
        margin-top: 1rem;
    }

    .sm-mt-20 {
        margin-top: 5rem;
    }
 
    .-sm-mt-12 {
        margin-top: -3rem;
    }
    
    .-sm-mt-22 {
        margin-top: -5.5rem;
    }

    .-sm-mt-28 {
        margin-top: -7rem
    }

    .-sm-mt-40 {
            margin-top: -10rem;
    }

    .-sm-ml-4 {
        margin-left: -1rem;
    }

    .sm-ml-6 {
        margin-left: 1.5rem;
    }

    .sm-ml-7 {
        margin-left: 2rem;
    }

    .sm-ml-12 {
        margin-left: 3rem;
    }

    .sm-ml-13 {
        margin-left: 3.25rem;   
    }

    .sm-ml-16 {
        margin-left: 4rem;
    }

    .sm-mr-12 {
        margin-right: 3rem;
    }

    .sm-mr-16 {
        margin-right: 4rem;
    }

    .sm-mr-20 {
        margin-right: 5rem;
    }

    .sm-mb-20 {
        margin-bottom: 5rem;
    }

    .sm-mb-10 {
        margin-bottom: 2.5rem;
    }

    .-sm-mb-4{
        margin-bottom: -1rem;
    }

    .sm-mx-12 {
        margin-left: 3rem;
        margin-right: 2rem;
    }

    .sm-y-8 {
        margin-top: 3.25rem;
        margin-bottom: 2rem;
    }

    /*---------- Padding ----------*/

    .sm-px-13 {
        padding-left: 3.375rem;
        padding-right: 3.375rem;
    }

    /*----------- Flex -------------*/

    .sm-flex {
        display: flex;
    }

    .sm-flex-column {
        flex-direction: column;    
    }

    .sm-justify-center {
        justify-content: center;
    }

    /*-----------Display ------------*/

    .sm-hidden {
            display: none;
        }

    /*-----------Position -----------*/

    .sm-z-0 {
        z-index: 0;
    }

    .sm-z-10 {
        z-index: 10;
    }
}

@media screen and (min-width: 768px) {

    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        overflow-x: hidden;
    }

    /*---------- Font-family ------------------*/

    .md-font-open {
        font-family: 'open sans', sans-serif;
     }

     /*-------- Background -----------*/

    .md-bg-slate-700 {
        background: #292d33;
    } 

    /*---------- Font Size ------------*/
 
    .md-text-base {
        font-size: 1rem; /* 16px */
        line-height: 1.5rem
    } 

    .md-text-lg	{
        font-size: 1.125rem;
    }

    .md-text-3xl {
        font-size: 1.875rem;
    }

    .md-text-4xl {
        font-size: 2.25rem;
        line-height: 1.1rem;
    }

    .md-text-4xl-10 {
        font-size: 2.25rem; /* 36px */
        line-height: 2.5rem;
    }

    .md-text-6xl {
        font-size: 3.75rem; /* 60px */
        line-height: 1;
    }

    /*------- width and height--------- */
    
    .md-w-50 {
        width:12.5rem ;
    }

    .md-w-54 {
        width: 13.5rem;
    }
    
    .md-w-62 {
        width: 15.5rem;
    }

    .md-w-72 {
        width: 18rem;
    }

    .md-w-84 {
        width: 21rem;
    }

    .md-w-86 {
        width: 21.5rem;
    }
    
    .md-w-90 {
        width: 22.5rem;
    }

    .md-w-104 {
        width: 26rem;
    }

    .md-w-136 {
       width: 34.125rem; 
    }

    .md-w-full {
        width: 100%;
    }

    .md-h-40 {
        height: 10rem;
    }
    
    .md-h-43 {
        height:10.75rem ;
    }

    .md-h-46 {
        height: 11.5rem;
    }

    .md-h-60 {
        height: 15rem;
    }

    .md-h-70 {
        height: 17.5rem;
    }

    .md-h-74 {
        height: 18.5rem;
    }

    .md-h-76 {
        height: 19rem;
    }

    .md-h-90 {
        height: 22.5rem;
    }

    .md-h-108 {
        height: 27rem;
    }

    .md-h-204 {
        height: 51rem;
    }

    /* .md-h-auto {
        height: auto;
    } */

    .md-w-full {
        width: 100%;
    }

    /*---------- Margin ------------*/

    .md-mt-4 {
        margin-top: 1rem;
    }

    .md-mt-8 {
        margin-top: 2rem;
    }

    .md-ml-8 {
        margin-left: 2rem;
    }

    .md-ml-12 {
        margin-left: 3rem;
    }

    .md-ml-25 {
        margin-left: 5rem;
    }

    .-md-ml-16 {
        margin-left: -4rem;
    }

    .-md-mr-2 {
        margin-right: -0.5rem;
    }

    .md-mr-4 {
        margin-right: 1rem;
    }

    .md-mr-12 {
        margin-right: 3rem;
    }
    
    .md-mr-16 {
        margin-right: 4rem;
    }

    .md-mr-25 {
        margin-right: 5rem;
    }

    .md-mr-24 {
        margin-right: 6rem;
    }

    .md-mr-44 {
        margin-right: 11rem;
    }

    .-md-mt-14 {
        margin-top: -3.5rem;
    }

    .md-mb-4 {
        margin-bottom: 1rem;
    }

    .md-mb-8 {
        margin-bottom: 2rem;
    }

    .md-mb-16 {
        margin-bottom: 4rem;
    }

    .-md-mb-8 {
        margin-bottom: -2rem;
    }

    /*---------- Padding ---------*/

    .md-px-2-4 {
        padding: 0.5rem 1rem;
    }

    .md-pt-16 {
        padding-top: 4rem;
    }

    /*----------- Opacity ---------*/

     .md-opacity-20 {
        opacity: 0.2;
    }

    /*----------- Display ---------*/

    .md-hidden {
        display: none;
    }
   

}

 @media screen and (min-width: 1024px) {

    html,body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    /*--------- Font-Size --------*/

    .xl-text-7xl {
        font-size: 4.5rem; /* 72px */   
    }

    .xl-text-3xl {
        font-size: 1.875rem;
    }

    

    /*--------- Margin -----------*/

    .xl-m-0 {
        margin: 0;
    }

    .xl-ml-0 {
        margin-left: 0;
    }

    .xl-mt-4 {
        margin-top: 1rem;
    }

    .-xl-mt-32 {
        margin-top: -8rem;
    }

    .xl-mb-4 {
        margin-bottom: 1rem;
    }

    .xl-mb-16 {
        margin-top: 4rem;
    }

    .-xl-mt-52 {
        margin-top: -13rem;
    }
    
    /*---------- Display ---------*/

    .xl-inline	{
        display: inline;
    }

    .xl-block {
        display: block;
    }
    
    /*---------- Images ----------*/

    .xl-img-mobile-01 {
        height: 474px;
        width: 470px; 
    } 

    .xl-img-01 {
        width: 266px;
        height: 270px;
    }

    .xl-img-mobile-02 {
        height: 480px;
        width: 330px;
    }

    .xl-img-03 {
        height: 274px;
        width: 285px;
    }

    .xl-img-mobile-04 {
        width: 603px;
        height: 299px;
    }

    .xl-img-mobile-05 {
        width: 752px;
        height: 417px;
    }

    .xl-img-05 {
        width: 311px;
        height: 242px;
    }

    .xl-img-plane-06 {
        width: 455px;
        height: 315px;
    }

    .xl-img-swing-06 {
        width: 408px;
        height: 255px;
    }

    .xl-img-car-06 {
        width: 247px;
        height: 212px;
    }

    .xl-img-boat-06 {
        width: 293.33px;
        height: 244px;
    }

    .xl-img-stroll-06 {
        width: 293.33px;
        height: 281px;
    }

    /*---------- Width and Height -------*/

    .xl-w-12 {
        width: 7rem;
    }

    .xl-h-16 {
        height: 4rem;
    }

    .xl-h-75 {
        height: 18.75rem;
    }
       
    .xl-w-84 {
        width: 21rem;
    }

    .xl-w-116 {
        width: 29rem;
    }
    
    .xl-w-1-2 {
        width: 50%;
    }

    .xl-w-2-3 {
        width: 66.66666%;
    }


}



 
