/*--------Fonts And Size------- */

.font-comfortaa {
    font-family: comfortaa;
}

.text-7xl{font-size: 4.5rem; /* 72px */
    line-height: 1;
}

/*----------Background-----------*/

.bg-orange {
    background-color: #e67b13;
}

/* ---------Margin--------------- */

.mt-40 {
    margin-top: 10rem;
}

.mr-4 {
    margin-right: 1rem;
}

.m {
    margin: 3px 20px 0 0;
}

.mr-24 {
    margin-right: 6rem;
}

