/*--------Fonts And Size------- */

.font-comfortaa {
    font-family: comfortaa;
}

.text-5xl {
    font-size: 3rem;
}

.text-7xl {
    font-size: 4.5rem; /* 72px */   
}

.font-open-sans {
    font-family: 'Open Sans' ,sans-serif;
}

.text-sm {font-size: 0.875rem; /* 14px */
line-height: 1.25rem; /* 20px */
}

.text-base	{
    font-size: 1rem; 
}

.font-normal	{
    font-weight: 400;
}

.text-lg	{
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-3xl	{
    font-size: 1.5rem; /* 24px */
    line-height: 2.5rem;
}

.text-4xl	{
    font-size: 2.25rem; /* 36px */
    line-height: 2.5rem; /* 40px */
}

/*----------Background-----------*/

.bg-orange {
    background-color: #e67b13;
}

.bg-contain {
    background-size: contain;
}

.bg-black {
    background-color: #1a1f24
}

.bg-slate-700	{
    background-color: #292d33;
}

.bg-slate-800	{
    background-color: #292a33;
}

.bg-img-03 {
    background-image: url(../img/lac.jpeg) ;
}

.bg-img-04 {
    background-image: url(../img/avion.jpeg);
}

.bg-grey {
    background-color: #333333;
}

/* ---------Margin--------------- */

.m-0 {
    margin: 0;
}

.m-4{
    margin: 1rem;
}

.m-auto {
    margin: 0 auto;
}

.mt-auto {
    margin-top: auto;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-12 {
    margin-top: 3rem;
}

.mt-16 {
    margin-top: 4rem;
}

.mt-18 {
    margin-top: 4.5rem;
}

.mt-24 {
    margin-top: 6rem;
}

.mt-28 {
    margin-top: 7rem;
}

.mt-60 {
    margin-top: 15rem;
}

.-mt-64	{
    margin-top: -14rem;
}

.-mt-24{
    margin-top: -6rem;
}


.mr-4 {
    margin-right: 1rem;
}

.mr-6{
    margin-right: 1.5rem;
}

.mr-8 {
    margin-right: 2rem;
}

.mr-24 {
    margin-right: 6rem;
}

.-mr-66 {
    margin: auto -16.7rem -16rem auto;
}

.m {
    margin: 3px 20px 0 0;
}

.-m-2-5	{
    margin: -4rem 0 1.5rem 0; /* 10px */
}

.mt-5	{
    margin-top: 1.25rem; /* 20px */
}

.m-5-150 {
    margin: 20px 150px 0 0; 
}

.ml-4 {
    margin-left: 1rem;
}

.ml-8 {
    margin-left: 2rem;
}

.ml-16 {
    margin-left: 4rem;
}

.ml-20 {
    margin-left: 5rem;
}

.ml-28 {
    margin-left: 7rem;
}

.ml-24 {
    margin-left: 11.5rem 
}

.ml-60 {
    margin-left: 15rem;
}

.ml-176 {
    margin-left: 44rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mb-40 {
    margin-bottom: 10 rem;
}

.-mb-56 {
    margin-bottom: -14rem;
}


.m-img-4 {
    margin: -428px auto 40px -335px;
}

.m-88 {
    margin: 30px 353px 0 5rem;
}

.-m-16 {
    margin: -64px auto -250px 0;
}

.-mb-12{
    margin-bottom: -3rem;
}

.my-5-5 {
 margin-top: 1.25rem;
 margin-bottom: 1.25rem;
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-4-40 {
    margin-top: 1rem;
    margin-bottom: 9rem;
}

.mx-44	{
    margin-left: 4rem; /* 176px */
    margin-right: 29.1rem; /* 176px */
}

.mx-1-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.mx-4-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-6-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/*-------------- Padding -------------*/

.p-0 {
    padding: 0;
}

.pt-40 {
    padding-bottom: -10rem;
}

.p-4{
    padding: 1rem;
}

/*---------Height and width-----------*/

.leading-4	{
    line-height: 1.6rem;
}

.leading-3	{
    line-height: 1.5rem;
}

.leading-6 {
    line-height: 3rem;
}

.h-3-6	{
    height: 33.333333%;
}

.w-2-4	{
    width: 50%;
}

/*---------Display------------*/

.block {
    display: block;
}

.overflow-x-hidden	{
    overflow-x: hidden;
}



/*---------Align--------------*/

.align-middle {
    vertical-align: middle;
}

/*---------Position------------*/

.relative	{
    position: relative;
}

.absolute {
    position: absolute;
}

.z-0	{
    z-index: 0;
}

.z-10	{
    z-index: 10;
}

/*---------Opacity-------------*/

.opacity-20	{
    opacity: 0.2;
}

.opacity-5	{
    opacity: 0.05
}

/*............flex------------*/

.flex {
    display: flex;
}

.flex-col	{
    flex-direction: column;
}

.justify-center	{
    justify-content: center;
}

.items-center	{
    align-items: center;
}

.flex-row	{
    flex-direction: row;
}

/*------------Container-------------*/

.object-contain	{
    object-fit: contain;
}

/*-------------Size---------------*/

.max-w-full	{
    max-width: 100%;
}

.max-w-50 {
    max-width: 50%;
}

.min-h-full	{
    min-height: 100%;
}

.uppercase	{
    text-transform: uppercase;
}

/*------------Words--------------*/

.break-words {
    overflow-wrap: break-word;
}

/*------------- Borders ------------ */

.border-orange {
    border: #e67b13;
    padding: 0.5rem;
}

/*--------------- Flex----------------*/

.flex {
    display: flex;
}

.flex-col	{
    flex-direction: column;
}

.self-end	{
    align-self: flex-end;
}

/*--------------- Img -----------------*/
 
.img-3 {
    min-height: 615px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.img-4 {
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.img {
    justify-items: center;
}

/*--------------- Button ----------------*/

.btn-orange {
  color: white;
  background-color: #e67b13;
  border-color: #e67b13;
}

.bg-left-top	{
    min-height: 300px;
    background-position:left;
    background-repeat: no-repeat;
    background-size: cover;
    margin: -70px auto 40px -700px;
}

/* -----------Section6------------------ */

.u-group-1 {
    min-height: 300px;
    width: 466px;
    opacity: 0.9;
    background-color: #292d33;
}

/*-------------- Colors -------------------*/

.text-orange {
    color: #e0c2a3;
}